*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
}
/*Estilando el header*/
header{
  width: 100%;
  height: 60vh;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: relative;
} 
header > h1 {
  text-align: center;
  color: #fff;
  font-size: 3em;
}
header > span {
  position: absolute;
  bottom: 5%;
  left: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  background-color: rgba(114, 153, 254, 0.5);
  padding: 10px;
  border-radius: 5px;
}
/*Estilando about me*/
main{
  width: 100%;
  height: 100vh;
}
section.aboutMe{
  background-color: #7299FE;
  width: inherit;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.aboutMe > article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
section.aboutMe > article > p{
  color: #fff;
  margin: 15px auto;
}
section.aboutMe > article > a{
  background-color: #D16FFF;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  padding: 18px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
/*section skills*/
section.mySkills{
  width: inherit;
  height: 40vh;
  background-color: #9122FF;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
section.mySkills > .contentSkills{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
section.mySkills > .contentSkills > .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin-right: 30px;
}
section.mySkills > .contentSkills > .skills > span {
  font-family: Helvetica;
  color: #fff;
  font-size: 18px;
}
/*barras de skills*/
.contentBar{
  width: 100%;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.bar{
  width: 50%;
  height: 100%;
  background-color: #57EFF9;;
  border-radius: 10px;
}

/*Seccion portfolio*/
section.myPortfolio{
  width: inherit;
  height: 425px;
  background-color: #FFD233;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.myPortfolio > .containerPorfolio{
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
}
  .item{
    border: 1px solid;
  }
/*seccion cliente*/
section.myClients{
  width: inherit;
  height: 40vh;
  background-color: #3F4E62;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.myClients > .contentClients{
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.myClients > .contentClients > img {
  width: 20%;
  height: 120px;
}
/*Seccion de contacto*/
section.contactMe{
  background-color: #1687A0;
  width: inherit;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.contactMe > form {
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.contactMe > form > div{
  display: flex;
  width: auto;
  height: auto;
  margin: 10px 0;
}
section.contactMe > form > div > input[type="text"], input[type="tel"]{
  width: 90%;
  margin-right: 20px;
  padding: 20px;
  outline: none;
}
section.contactMe > form > div > textarea{
  width: 100%;
  height: 112px;
  margin-right: 20px;
  outline: none;
}
section.contactMe > form button{
  border: 0;
  background-color: #233451;
  color: #fff;
  cursor: pointer;
  width: 20%;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  outline: none;
}
@media screen and (max-width:1024px){
  header {
    height: 80vh;
    background-position: 50% 50%;
  }
  header > span {
    bottom: 6%;
    font-size: 1.8em;
  }
  section.aboutMe {
    height: auto;
  }
  section.aboutMe > article{
    margin: 0 auto 15px;
  }
  section.myPortfolio {
    height: auto;
  }
  section.mySkills {
    height: auto;
  }
  section.mySkills > .contentSkills {
    margin: 0 auto 15px auto;
  }
  section.myClients {
    height: auto;
  }
  section.myClients > .contentClients {
    margin: 15px 0;
  }
  section.contactMe {
    height: auto;
  }
}

@media screen and (max-width:768px){
  header{
    background-attachment: fixed;
  }
  section.myPortfolio > .containerPorfolio{
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(2, 1fr);
  }
  section.aboutMe > article > p {
    font-size: 14px;
  }
  section.aboutMe > article > a {
    padding: 12px 40px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:480px){
  header {
    background-size: cover;
    background-position: 20% 50%;
  }
  header > span {
    left: 0;
  }
  section.myClients > .contentClients {
    flex-direction: column;
  }  
  section.mySkills > .contentSkills {
    flex-direction: column;
    align-items: center;
  }
  section.myClients > .contentClients > img {
    width: 50%;
    height: 120px;
    margin: 10px 0;
  }
  section.contactMe > form button {
    width: 50%;
  }
  section.contactMe > form > div {
    flex-direction: column;
  }
  section.contactMe > form > div > input[type="text"], input[type="tel"] {
    width: 100%;
    margin: 0 0 10px 0;
  }
  section.contactMe > form button {
    width: 85%;
  }
}

@media screen and (max-width:320px){
  section.mySkills > .contentSkills > .skills {
    margin: 10px 0;
  }
  .bar {
    width: 70%;
  }
  section.myPortfolio > .containerPorfolio{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 100px);
  }
  section.myClients > .contentClients > img {
    width: 70%;
  }
}